body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Courier New, Courier, monospace;
}

.avatar {
    width: 200px;
    border-radius: 25px;
    /*box-shadow: 5px 5px 5px #8b8c89;*/
}

.card {
    width: 400px;
    border-radius: 25px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e7ecef;
    color: #274c77;
    border-bottom: 10px solid #6096ba;
    border-right: 10px solid #6096ba;
    animation-name: example;
    animation-duration: 4s;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

p:hover, h3:hover, h4:hover {
  background-color: #a3cef1;
}


@keyframes example {
  from {background-color: #6096ba;}
  to {background-color: #e7ecef;}
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

